.default.default {
  color: #d0d0d0;
  font-size:34px;
}

.correct {
  color: #f48fb1;
  font-size:34px;
  border-right:2px solid;
  margin-right:-2px;
}

span {
  padding: 0;
  margin: 0;
}

.error {
  color: #f44336;
  font-size:34px;
}

.remaining {
  font-size:34px;
}

.input {
  color: #d0d0d0 !important;
  width: 100%;
}

.mainCard {
  width: 900px;
  margin-bottom: 5px;
}

.input input {
  color:#eeeeee;
}

.input .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #f48fb1;
}

.input:hover .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: #f48fb1;
}

.input .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #f48fb1;
}

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.promptBox {
  width: 100%;
  text-align: left;
  text-justify: distribute;
  padding:0;
  margin: 0;
  user-select: none;
}
