.result {
    color:#d0d0d0;
}

.root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reset {
    color:green;
}

.content {
    margin-top: 10%;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.standings {
    margin-bottom: 90px;
    padding-bottom: 90px;
    border-style: solid;
}